<footer class="footer" id="footer">
  <div class="footer-wrapper">
    <div class="footer-wrapper-social">
      <a href="https://linkedin.com/in/andreasringedal" class="footer-wrapper-social-link">LinkedIn</a>
      <a href="skype:a_ringedal?add" class="footer-wrapper-social-link">Skype</a>
      <a href="mailto:andreas@ringedal.com" class="footer-wrapper-social-link">Mail</a>
      <a href="https://behance.net/ringedal" class="footer-wrapper-social-link">Behance</a>
    </div>
    <div class="footer-wrapper-title">
      <a href="https://ringedal.com">{{ site.author | escape }} // 2018</a>
    </div>
  </div>
</footer>
